<form method="POST">

    <label for="name-input">Restaurant's name</label>
    <input type="text" name="name" id="name-input" placeholder="Restaurant's name">

    <label for="latitude-input">Restaurant Latitude</label>
    <input type="text" name="latitude" id="latitude-input"placeholder="Restaurant Latitude">

    <label for="longitude-input">Restaurant Longitude</label>
    <input type="text" name="longitude" id="longitude-input"placeholder="Restaurant Longitude">

    <button>Create Restaurant</button>
</form>